/*Google Font CDN Link*/
/*@import url('')*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", ;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*customize side bar*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_details{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

/*header logo side bar*/
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.sidebar.active .logo_content{
    opacity: 1;
}

.sidebar.active .logo_details{
    opacity: 1;
}

.logo_details i{
    font-size: 28px;
    margin-right: 5px; 
}

.sidebar .logo_details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

/*customize icon*/
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px; 
}

/*logo all content*/
.sidebar .logo_content .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.logo_content .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.logo_content .logo_name{
    font-size: 20px;
    font-weight: 400;
}

/*ul links*/
.sidebar ul{
    margin-top: 20px;
}

/*menu bar*/
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

/*input search*/
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%; 
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search-alt{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li .bx-search-alt:hover{
    background: #fff;
    color: #1d1b31;
}

/*url*/
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover{
    color: #11101d;
    background-color: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

/*ปรับ icon*/
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto
}

.sidebar .nav-list{
    background: red;
    height: 100%;
    padding-top: 30px;
}

.sidebar .nav-list li{
    position: relative;
    list-style: none;
}

.sidebar .nav-list li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
 }

.sidebar .nav-list li a{
    display: flex;
    align-items: center;
    text-decoration: none;
 }

.sidebar .nav-list li a .links_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;

 }
/*links icon*/
.sidebar .nav-list li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*drop down*/
.sidebar .nav-list li a .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
}

.sidebar .nav-list li a .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 0;
}

.sidebar .nav-list li a .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
}
/*profile*/
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

/*bg profile*/
.sidebar.active .profile_content .profile{
    background: #1d1b31;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}

/*Profile*/
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

/*name*/
.profile .profile_details .name_job{
    margin-left: 10px;
}

/*name*/
.profile .profile_details .name{
    font-size: 12px;
}

/*name*/
.profile .profile_details .job{
    font-size: 12px;
}

/*icon log out*/
.profile #log_out{
    position: absolute;
    right: 0.5%;
    bottom: 5px;
    transform: translateX(-50%);
    margin-right: 10px;
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: right;
    background-position: right;
}

